


  <div class="container">
    <h1 class="display-4 text-center mt-5 mb-5">About Us</h1>
    <div class="row">
      <div class="col-md-6">
        <img src="https://picsum.photos/seed/picsum/400/200" alt="About Us Image" class="img-fluid">
      </div>
      <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
        <p>Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <h2>Our Mission</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
      </div>
      <div class="col-md-4">
        <h2>Our Values</h2>
        <p>Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
      <div class="col-md-4">
        <h2>Our Team</h2>
        <p>Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>
    </div>
  </div>

